extends layout

block content
  div.container
    div.row
      div.col-lg-12.text-center
        h1(style="margin-top:30px;") Hello <strong class="text-danger">Czsctzce</strong> !!
        p Je te souhaite un super joyeux anniversaire de loin, et je te propose un petit jeu pour fêter cela ! Je t'envoie plein de gros bisous
        button#playButton.btn.btn-danger(type='button') Jouer
