mixin navlink(linkUrl, bob, label)
  li(class= 0 === url.indexOf(linkUrl) ? 'nav-item active' : 'nav-item')
    a.nav-link(href=linkUrl)
      i.fa(class="fa-"+bob)
      = ' ' + label


doctype html
html
  head
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin="anonymous")
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='stylesheet', href="/style/style.css")
    title= title

  body
    nav#navbar.navbar.navbar-static-top.navbar-toggleable-md.navbar-inverse.bg-inverse(role="navigation")
      .navbar-header
        a.navbar-brand(href="/") <strong class="text-danger">CZSCTZCE</strong>
      ul.navbar-nav
        if lvl > 0
          +navlink('/levels/level1', '', 'Level1')
        if lvl > 1
          +navlink('/levels/level2', '', 'Level2')
        if lvl > 2
          +navlink('/levels/level3', '', 'Level3')

    div#instructions(style='display:none;')
      div#overlay
      div#instructions-box
        div#instructions-text.text-center
        button#instructions-button.btn.btn-danger(type='button')
    block content
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js", integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js", integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn", crossorigin="anonymous")
    script(src="/main.js")
    block script
