extends layout

block content
  div.container
    div.row
      div.col-lg-3
      div.col-lg-6#letters
    div.row
      div.col-lg-4
      div.col-lg-4#correctLetters
  audio(autoplay='autoplay', loop='loop')
    source(src="/music/whatsup.mp3", type="audio/mpeg", style="display:none;")
block script
  script(src="/level3.js")
