extends layout

block content
  div.container
    div.row
      div.col-lg-12.text-center
        video#videoBox
          source(src="/videos/level1.mp4", type="video/mp4")
          | Change de browser
        div
          span#x
          br
          span#y

block script
  script(src="/level2.js")
